

.customContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.tasksContainer{ 
    display: flex;
    align-items: center;
}

.styl{
    margin: 10px;
}
