.customContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tasksContainer{
    display: flex;
    align-items: center;
}

.styl{
    margin: 10px;
}

.loginBody{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:100vh;
}

.loginDiv{
padding:20px;

}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formField{
    padding:5px;
}

.button{
    margin: 5px;
}


.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}