<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

        <div class="container">
                <div class="jumbotron">
                  <h1>Lista zadań</h1>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-danger"  type="submit" value="Wyloguj się"/>
                    </form>
                </div>
              </div>

    <div class="container">

        <div>
            <form class="form-group " action="#" method="post" enctype="text/html">
                <h2>Zadanie</h2>
                <input class=" styl form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="description">
                <h2>Data wykonania</h2>
                <input class="styl form-control mb-2 mr-sm-2 mb-sm-0" type="date" name="date">
                <input class="styl btn btn-primary" type="submit" value="Dodaj">
            </form>
        </div>


        <div class="tasksContainer span6">
            <table class="table table-striped customTable">
                <thead>
                    <tr>
                        <th scope="col1"> Zadanie</th>
                        <th scope="col2"> Data końcowa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if=${model} th:each="task : ${model}">
                        <th th:text="${task.description} "></th>
                        <th th:text="${task?.finishDate}"></th>
                        <th>
                            <form action="/delete" method="POST" enctype="text/html">
                                <input type="hidden" th:value="${task.id}" name="id">
                                <input class="btn btn-danger" type="submit" value="Usun">
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>
</body>

</html>