<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/ToDoStyle.css">

</head>
<body class ="loginBody">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class = "loginDiv">
    <form class="formDiv" th:action="@{/login}" method="post">
        <div class= "formField"><label> User Name : <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="username"/>
        </label></div>
        <div class= "formField"><label> Password: <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="password" name="password"/>
        </label></div>
        <div class= "formField"><input class="btn btn-primary" type="submit" value="Sign In"/></div>
    </form>

    <a th:href="@{register}" >Zarejestruj się</a>
</div>
</body>
</html>